<nav class="navbar navbar-light bg-light">
<%= link_to  cocktails_path do %> <i class="fas fa-glass-martini-alt"></i>
  <%end%>
</nav>

<p><%= link_to 'Add Ingredients', new_cocktail_dose_path(@cocktail)  %></p>

<div class="container show-cocktail">
<div class="card-product">
  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
  <%= @cocktail.name %>

  <div class="card-product-infos">
  <% @cocktail.doses.each do |dose| %>
    <%= dose.description %> of <%= dose.ingredient["name"]%>
<%= link_to 'Delete Ingredients', dose_path(dose), method: :delete %>
    <%end%>
    </div>
</div>
</div>








<!--
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />

    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div> -->
